# Dependency directories (if any)
node_modules/

# Logs
logs/
*.log

# IDE and editor directories/files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Mac OS files
.DS_Store

# Temporary files
*.tmp

# Environment variables
.env
